<!DOCTYPE HTML>
<html lang="en">
  <head>
    <%= render '/head.*' %>
    <meta name="robots" content="noindex">
    <link rel="canonical" href="<%= @config[:base_url] %>/404.html">
    <link rel="stylesheet" href="<%= @items['/assets/stylesheets/404.*'].path %>">
  </head>
  <body>
    <%= render '/header.*' %>
    <div class="main class">
      <%= yield %>
    </div>
  <%= render '/footer.*' %>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script type="application/javascript" src="<%= @items['/assets/javascripts/badges.*'].path %>"></script>
  <%= render '/docsearch.*' %>
  <script type="application/javascript" src="<%= @items['/assets/javascripts/404.*'].path %>"></script>
  <% if ENV['NANOC_ENV'] == 'production' %>
  <%# Add analytics only in production %>
    <%= render '/analytics.*' %>
  <% end %>
  </body>
</html>
